/******************************************************************************************************

CLASSES GENERALES

******************************************************************************************************/

/*:not(.OptionOffre, .flex-container2, .filtresEntreprises, h3, .OptionEntreprise ) {
    font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
    margin: 0 0 0 0;
}*/

header {
    display: flex;
    background-image:url("images/entete.png");
    padding-bottom: 4rem;
    background-size: auto 100%; 
    background-position: left top;
    background-size: cover;
    width:100%;
}

header h1 {
    padding-left: 35%;
}

header > img {
    margin-left: 1rem;
    max-width: 120px;
    min-width: 120px;
    max-height: 80px; 

}  
 


form{
    margin-top: 5%;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    display: flex;
}

fieldset img {
    max-width: 100%;
    margin-bottom: 3rem;

}

label {
    display: block;
    color:grey;
    margin-bottom:10px
}

input {
    display: block;
    border: 0.05rem solid grey; 
    border-radius: 0.3rem; 
    padding: 0.5rem 2rem;
    margin-bottom: 1rem;
    margin: 0 auto;
    margin-bottom: 1rem;
}

fieldset {
    border: none;
    align-items:center;
}

.button{
    box-sizing: border-box;
    margin: 1rem;
    width: 100%;
    text-align: center;
    padding: 0.5rem 0 0.5rem 0;
    /* padding: 0.5rem 6rem; */
    border: none;
    border-radius: 2rem;
    background-color:rgb(255, 221, 0);
    font-family: Arial;
    font-size:1rem;
}

button:hover{
    font-weight: bold;
}

.main_stylo{
    max-height: 100px;
    max-width: 100px;
    margin-top: 2rem;
    margin: auto;
}

.block_star{
    display: inline;
}

nav:first-of-type {
    margin-top: 4rem;
}

.navbar{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0; 
    text-align: right;
    width: 100%;
    font-size: 3rem;
    font-weight: bolder;
}

@media all and (max-width: 800px) {
    .navbar {
      justify-content: space-around;
    }
}

@media all and (max-width: 600px) {
    .navbar {
      flex-flow: column wrap;
      padding: 0;
    } 
}




/*
-------------------------------------------------------------------------------------------------------------------------------------------------

PAGE D'ACCUEIL */


.header_accueil {
    display: flex;
    background-image:url("images/entete_navbar.png");
    background-position: left top;
    background-size: contain;
    background-repeat: no-repeat;
}


.background_img{
    position: relative;
    width: 100vw;
    display: flex;
    margin-top: 3%;
}

.background_img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}

.overlay {
    width: 100%;
    position: relative;
}

#rechercher {
    display: flex;
    flex-direction: column;
    align-items:end;
    align-content: end;
    position: absolute;
    bottom: 0;
    width: 100%;

    .button {
        text-align: center;
        text-wrap: nowrap;

        width: 300px;
    }
}

#background_img_accueil {
    background-image: url("images/image_accueil.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: 100%;
    height: 350px;
    margin: 2rem 0 2rem 0;
}

#accroche_accueil{
    color: white;
    font-size: 300%;
    font-style: italic; 
    width: 40%;
    padding: 1.5%;
}

@media all and (max-width: 800px) {
    #accroche_accueil {
      /* When on medium sized screens, we center it by evenly distributing empty space around items */
      width: 100%;
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-size: 200%;
      text-align: center;
    }
}

.intitule{
    border-style: solid;
    border-width: medium;
    border-radius: 20px;
    margin: auto;
    padding: 20px;
    flex-shrink: 3;
    width: 25%;

    /* Center content stage */
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

@media all and (max-width: 800px) {
    .intitule {
      /* When on medium sized screens, we center it by evenly distributing empty space around items */
      width: 80%;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
}

@media all and (max-width: 500px) {
    .intitule {
      /* When on medium sized screens, we center it by evenly distributing empty space around items */
      width: 80%;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
}


.footer{
    margin-top: 50px;
    padding: 5px;
    background-color:#D9D9D9;
    font-style: italic;
    font-size: 100%;
    font-weight: bold;
}

.container{
    display:flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@media all and (max-width: 800px) {
    .container {
      /* When on medium sized screens, we center it by evenly distributing empty space around items */
      justify-content: space-around;
    }
}

@media all and (max-width: 500px) {
    .container {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
}

@media all and (min-width: 900px){
    .container{
        justify-content: center;
    }
}





/*
----------------------------------------------------------------------------------------------------------------------------------------------

OFFRE DE STAGES */




.header1 {
    display: flex;
    background-image:url("images/entetepages3.png");
    padding-bottom: 3rem;
    background-position: left top;
    background-size: cover;
}


a:first-of-type {
    margin-left: 5%;
}

a {
    font-size: 1.5rem;
    text-align: right;
    margin: 2%;
    text-decoration: none;
    color: black;
    height:27.2px;
}
a:hover:not(.Deconnexion) {
    text-decoration: bold;
    color: rgb(255, 221, 0);
}

.Profil{
    margin: 1.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 2rem;
    background-color:rgb(255, 221, 0);
    font-family: Arial;
    font-size:1rem;
    margin-top: 1rem;
    margin-bottom: 0rem;
}

.DeconnectProfil{
    margin: 1.5rem;
    font-size:1.1rem;
}

.flex-container1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
 }

.flex-container1 > .rechercher {
    width: 80%;
    border-radius: 5rem;
    margin-right: 2%;
}

.newOffre{
    border-radius: 5rem;
    margin-right: 2%;
}

#filtres {
    align-self: flex-start;
    margin-bottom: 3rem;
    margin-top: 0;
}

.flex-container2 {
    display: flex;  
 }  

#colonne2 {
    margin-left: 2%;
    width: 75%;
}

#colonne1 {
    margin-left: 2%;
    margin-right: 2%;
    background-color:rgb(244, 240, 240);
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 2%;
}

.divFiltre {
    display: none;
}


.offres {
    width: 100%;
    border: 0.01rem solid grey;
}

.OptionOffre {
    background-color: rgb(220, 220, 220);
    padding-top: 0.01rem;
    margin-right: 1rem;
}

.TitreOffre {
    text-align: left;
    margin-left: 3%;
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 0rem;
}

.DescriptionOffre {
    text-align: left;
    margin-bottom: 1rem;
    margin-left: 1%;
}

.CompetencesOffre {
    color: rgb(3, 121, 255);
    text-align: left;
    font-size: 0.9rem;
    margin-left: 1%;
    padding-bottom: 0.5rem;
}

h3 {
    margin-top: 2rem;
}   


/*filtre promotion*/

.hidePromo {
    margin-left: 1rem;
    color: black;
    display: none;
}

input[type="checkbox"]{
    display: inline;
    border: 0.05rem solid black;
    border-radius: 0.3rem;
    margin-bottom: 0rem;
}


/*filtre lieu*/

.hideLieu {
    color: black;
    text-align: left;
    display: none;
  } 

.inputLieu {
    padding: 0.3rem 0.1rem; 
    display: none;
}


/*filtre entreprise*/

.hideEntreprise {
    color: black;
    text-align: left;
    display: none;
}

#inputEntreprise {
    padding: 0.3rem 0.1rem; 
    display: none;
}


/*filtre duree*/ 

.hideDuree {
    color: black;
    text-align: left;
    display: none;
}

input[type="range"], input[type="number"]{
    background-color: white;
}

.inputDuree {
    all:initial;
    accent-color: rgb(255, 221, 0);
    margin-right: 1rem;
    border: 0.01rem solid black;  
    border-radius: 3rem; 
    display: none;
}

.outputDuree {
    all: initial;
    border: none;
    font-size: 0.9rem;
    border: 0.05rem solid rgb(220, 220, 220); 
    border-radius: 0.3rem; 
    margin-bottom: 2rem;
    display: none;
}


/*filtre salaire*/

.hideSalaire {
    color: black;
    text-align: left;
    display: none;
}

.inputSalaire {
    all:initial;
    accent-color: rgb(255, 221, 0);
    margin-right: 1rem;
    border: 0.01rem solid black;  
    border-radius: 3rem; 
    display: none;
}

.outputSalaire {
    all: initial;
    border: none;
    font-size: 0.9rem;
    border: 0.05rem solid rgb(220, 220, 220); 
    border-radius: 0.3rem; 
    margin-bottom: 2rem;
    display: none;
}


/*filtre places*/

.hidePlaces {
    color: black;
    text-align: left; 
    display: none;
}

.inputPlaces {
    padding: 0.3rem 0.1rem;
    display: none;
}


/*filtre trier*/

input[type="radio"]{
    display: inline;
}

.trier {
    display: none;
}


/*filtre salaire*/

.hideSalaire {
    color: black;
    text-align: left;
    display: none;
}

.inputSalaire {
    all:initial;
    accent-color: rgb(255, 221, 0);
    margin-right: 1rem;
    border: 0.01rem solid black;  
    border-radius: 3rem; 
    display: none;
}

.outputSalaire {
    all: initial;
    border: none;
    font-size: 0.9rem;
    border: 0.05rem solid rgb(220, 220, 220); 
    border-radius: 0.3rem; 
    margin-bottom: 2rem;
    display: none;
}


/*filtre places*/

.hidePlaces {
    color: black;
    text-align: left; 
    display: none;
}

.inputPlaces {
    padding: 0.3rem 0.1rem;
    display: none;
}


/*filtre trier*/

input[type="radio"]{
    display: inline;
}

.trier {
    display: none;
}

/* Pagination */

.center{
    text-align: center;
    margin-bottom: 1rem;
}

.pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
  }
  
  .pagination a.active {
    background-color: rgb(255, 221, 0);
    color: white;
    border: 1px solid rgb(255, 221, 0);
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}











  .notation{
    padding-top: 1rem;
    margin-top: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
    width: 65rem;
    height: 12rem;
    background-color: #FFEF9E;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
  }

  .nota_txt{
    font-family: 'Inter';
    font-style: normal;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 5rem;
    margin-left: 2rem;
  }

  .star{
    max-width: 68px;
    max-height: 68px;
    margin-top: 3.5rem;
    margin-left: 2rem;
  }


  .info_txt{
    border-bottom: 7px solid rgb(255, 221, 0);
    font-size: 2rem; 
    font-weight: bold; 
    line-height: 1.5; 
  }



  .info{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
    text-align: left;
}

.text_bth{
    border-bottom: 7px solid rgb(255, 221, 0);
    font-size: 1.5rem; 
    font-weight: bold; 
    line-height: 1.5; 
  }

.text_bth:hover {
    color: rgb(255, 221, 0);
}

  .back_to_hub{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    margin-right:1rem;
    text-align: left;
    justify-content: flex-end;
}





/*------------------------ Gestion Entreprise ---------------------------*/

.notation{
    margin-top: 2rem;
    padding-left: 2rem;
    padding-top: 2rem;
    width: 70rem;
    height: 15rem;
    background-color: #FFEF9E;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    }
    
    .nota_txt{
    font-family: 'Inter';
    font-style: normal;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 5rem;
    margin-left: 2rem;
    }
    
    .star{
    max-width: 68px;
    max-height: 68px;
    margin-top: 3.5rem;
    margin-left: 2rem;
    }
    
    
    .info_txt{
    border-bottom: 7px solid yellow;
    font-size: 2rem; 
    font-weight: bold; 
    line-height: 1.5; 
    }
    
    
    
    .info{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
    text-align: left;
    }

    /*--------------------------------------------------------------------------*/









/* Présentation offre */

#headerImage {
    display: flex;
    width: 100%;
    background-image: url("images/header_presentation_offre.png");
    padding-bottom: 5rem;
    background-position: left top;
    background-size: cover;
    margin-top: 3rem;
}

.Retour {
    margin-left: 40%;
    border: none;
    background: none;
    font-weight: bold;
    font-size: 1.1rem;
}

.Retour:hover {
    color:rgb(255, 221, 0);
}

.logoOffre {
    margin-top: 5rem;
        margin-left: 15%;
        max-width: 120px;
        min-width: 25%;
}

.DescriptionCompletOffre {
    font-family: Arial;
    font-size: 0.8rem;
    margin: 4rem 2% 4rem 2%;
    width: 100%;
}

.StatsOffre {
    color: black;
    padding-top: 1rem;
    width: 100%;
    background-color: rgba(220, 220, 220, 0.277);
    text-align: center;
    margin-bottom: 6rem;
}


.ValidationButton{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 2rem;
    background-color:rgb(255, 221, 0);
    font-family: Arial;
    font-size:1rem;
    margin-bottom:0.5rem;
}

.DivValidationButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#masquer {
    text-align: right;
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
#masquerInput {
    margin-top: 0rem;
    margin-left: 10%;
    width: 1.7rem;
    height: 1.7rem;
}

.like-dislike {
    background-image:url("images/unlike.png");
    background-size: 100%;
    width: 1.5rem;
    height: 1.3rem;
    margin-left: 90%;
    margin-bottom: 2rem;
}
.like-dislike.liked {
    background-image: url('images/like.png');
}


.ModifierButton {
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 2rem;
    background-color: rgb(255, 221, 0);
    font-family: Arial;
    font-size: 1rem;
}

.SupprimerButton {
    margin-top: 1rem;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 2rem;
    background-color: rgb(255, 221, 0);
    font-family: Arial;
    font-size: 1rem;
}

.PilotesFonctionsOffre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}





/* Candidature */

.Candidatureform {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-left: 2%;
    margin-top: 1rem;
}

.Candidaturelabel {
    font-size: 1.2rem;
    color: black;
}   

.Candidatureinput { 
    margin-bottom: 2rem;
    margin-left: 0%;
    font-family: Arial;
}


/* Profil utilisateur, admin,etudiant et pilote */



body, html {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Styles pour l'en-tête */
.header {
    position: relative;
    height: 25px; 
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 5rem; 
}

.line {
    position: absolute;
    background-color: black;
    height: 1.25rem;
    top: 0;
    left: 5.625rem;
    width: calc(100vw - 3.125rem);
    transform-origin: left;
    transform: skew(30deg);
}

/* Styles pour le menu de navigation */

.menu {
    text-align: right;
    font-weight: bolder;
    font-size: 3rem;
    width: 100%;
    
}



/* Styles pour la nouvelle section de profil utilisateur */
.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto;
}

.profil, .informations {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profil img {
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
}

.profil p, .informations span {
    margin-top: 1.25rem;
    text-align: center;
}

.informations {
    align-items: center;
    background-color: #f0f0f0;
    padding: 1.25rem;
    margin-left: 1.25rem;
    width: calc(50% - 1.25rem);
}

.informations span {
    display: block;
    margin-bottom: 1.25rem;
    line-height: 1.5;
}

.full-width-image {
    width: 100vw;
    height: auto;
    display: block;
    margin: 0 auto;
}

.page-title, .page-title2, .page-title3 {
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
    margin-left: 1.25rem;
    color: #333;
}

.centres-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1.25rem;
}

.centre-button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 1.25rem;
    padding: 0.625rem 1.25rem;
    margin: 0.625rem;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    flex: 0 0 calc(25% - 20px);
    text-align: center;
}

.centre-button:hover {
    background-color: #e9e9e9;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

.details-table summary {
    font-weight: bold;
    padding: 0.625rem;
    cursor: pointer;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 0.3125rem;
}

.details-table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0.625rem;
}

.details-table th, .details-table td {
    border: 1px solid #ddd;
    padding: 0.5rem;
    text-align: left;
}

.details-table th {
    background-color: #f2f2f2;
}

details > table {
    display: none;
}

details[open] > table {
    display: table;
}

.job-offer-container {
    display: flex;
    align-items: center;
    background: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 1.25rem;
}

.job-offer-header {
    flex-grow: 1;
}

.brand-logo {
    height: 50px; 
    margin-right: 10px;
}

.job-offer-header h3 {
    font-size: 24px;
    margin: 0;
    
}

.job-offer-header p {
    margin: 0;
    color: #666;
}

.job-offer-details {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 20px;
}

.detail {
    background: #d9d9d9;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}

.delete-button {
    background: none;
    border: none;
    cursor: pointer;
}

.delete-button img {
    height: 30px; 
}

.mentions-legales {
    align-self: center;
    font-size : 1rem;
    font-style: italic;
    margin-top: 1rem;
}

#footerMentions {
    margin-top: 10rem;
}

footer{
    text-align: center;
    border-top: solid 1px black;
    height: 1px;
    margin-top: 3rem;
    margin-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.addCompetence {
    margin-bottom: 2rem;
}






#headerPresEnt {
    display: flex;
    width: 100%;
    padding-bottom: 5rem;
    justify-content:flex-start;
}


.TitrePresEnt {
    font-size: 2.5rem;
    margin: 4rem 0% 0 4%; /*top right bottom left */
}

.logoEnt {
        margin-left: 15%;
        max-width: 120px;
        min-width: 25%;
        height:auto;
}

.DivRetourPresEnt {
    display: flex;
    justify-content: flex-end;
}

.RetourPresEnt {
    border: none;
    background: none;
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
    display: flex;
    margin-right: 5%;
}


#Entreprise {
    margin-top: 2rem;
    background-image: url("images/fond_entreprise.png");
    padding-bottom: 25rem;
    background-size: auto 100%;
    background-position: center top;  
    background-size: cover;
    background-repeat: no-repeat;
}

.flex-rechercher-Entreprise{
    display: flex;
    flex-direction:row;
    margin-top: -8rem;
    justify-content: space-between;
}

.rechercheEntreprise {
    display: flex;
    margin-left: 15%;
    width: 50%;
    border-radius: 0.4rem;
}

.rechercheBouton {
    display: flex;
    margin-right: 15%;
    padding: 0.4rem 0 0 0.4rem;
    padding-bottom: 0;
    border: 1px solid black;
    border-radius: 0.4rem;
    background-color:rgb(255, 221, 0);
    font-family: Arial;
    font-size: 1rem;
    height: 2rem;
    width: 6.2rem;
    margin-left: 2%;
}

/*top right bottom left */

#espaceEntreprise {
    display: flex;
    text-decoration:underline;
    font-size: 1.2rem;
    font-weight: bold;
    justify-content:flex-end;

}

.flex-infos-Entreprise {
    display: flex;
    margin-top: -8rem;
    justify-content: space-between;
}

.hideNote {
    margin-left: 1rem;
    color: black;
    display: none;
}

#inputActivite {
    padding: 0.3rem 0.1rem; 
    display: none;
}

.filtresEntreprises {
    margin-top: 1.5rem;
    margin-left: 0%;
    width: 50%;
}

.filterButton {
    margin-top: 1.5rem;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 2rem;
    background-color:rgb(255, 221, 0);
    font-family: Arial;
    font-size:1rem;
}

.filterButton:hover {
    font-weight: bold;
}

#resultatsEntreprises {
    margin-left: 2%;
    margin-right: 2%;
    background-color:rgb(244, 240, 240);
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 2%;
}

#flex-Entreprise-resultat {
    margin: 10rem 0 0 2%;
    display: flex;  
    box-sizing: 100%;
    margin-bottom: 4rem;
    margin-left: 10%
}

.resultatsEntreprises > h2 {
    font-size: 2.5rem;
    text-decoration: underline;
}

.filtresEntreprises > h2 {
    padding-top: 0rem;
    font-weight: bold;
    text-align: left;
    margin-left: 2%;
    padding-bottom: 1.5rem;
}

.filtresEntreprises > h3 {
    text-align: center;
}

.TitreEntreprise {
    text-align: left;
    margin-left: 3%;
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.DescriptionEntreprise {
    text-align: left;
    margin-left: 1%;
    margin-top: 0rem;
}

.OptionEntreprise {
    padding-top: 0.01rem;
    margin-right: 1rem;
    border: 2px solid rgb(220, 220, 220);
    margin-bottom: 1rem;
    border-radius: 1.2rem;
}

.topEntreprises {
    font-size: 2.5rem;
    margin-left: 2%;
    width: 630px;
    height: 46.4px;
    background: linear-gradient(to bottom, white, white, rgb(255, 221, 0));
    margin-bottom: 2rem;
}


.flex-top-Enterprises-1 , .flex-top-Enterprises-2 {
    margin-top: 4rem;
    margin-left: 10%;
    display: flex;
    justify-content:space-between;
    width: 80%;
    margin-right: 10%;
    margin-bottom: -2rem;
}

.flex-top-Enterprises-1 > div , .flex-top-Enterprises-2 > div {
    padding: 1rem 2% 0.2rem 2%;
    width: 20%;
    border: 2px solid rgb(220, 220, 220);
    border-radius: 1.2rem;
}

.PresEnt{
   display: inline;

}

#PresEnt{
    color:black
}




@media (max-width: 900px) {
    .flex-top-Enterprises-1 > div > article > h5, .flex-top-Enterprises-2 > div > article > h5 {
        font-size: 1.3rem;
    }

}






/* media queries */


@media (max-width: 1100px) {


 .notation{
    height: 25rem;
    width: 34rem;
    flex-direction: column;
  }  
  .resultatEntreprises {
    margin: 10rem 0 0 2%;
    font-size: 1.3rem;
    text-decoration: underline;
    }
    #filtres {
        font-size: 1.1rem;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .container {
        width: 85%;
    }

    .informations textarea {
        width: 80%; /* Ajustement pour les écrans intermédiaires */
    }

    .centre-button, .details-table summary {
        width: calc(50% - 40px); /* Ajuster pour un meilleur affichage en tablette */
    }
    /* Ajustements similaires à ceux des smartphones, avec plus d'espace */
    .menu {
        font-size: 2.5rem;
    }
    .user-profile {
        padding: 0 5rem;
    }
    .container, .informations {
        flex-direction: column; /* Pour une meilleure gestion de l'espace */
    }
    .profil, .informations {
        flex-basis: 100%;
    }
    
    
}

@media (min-width: 1201px) {
    .container {
        width: 75%;
    }

    .informations textarea {
        width: 70%; /* Plus d'espace disponible sur les grands écrans */
    }

    .centre-button, .details-table summary {
        width: calc(25% - 40px); /* Utilisation optimale de l'espace disponible */
    }
    .menu {
        font-size: 3rem;
    }
    .user-profile {
        padding: 0 10.625rem; 
        font-size: 1.125rem; 
    }
    .informations {
        width: 80%;
    }
    
}

@media only screen and (min-width: 770px) {

    .flex-container-Présentation-Offre {
        display: flex;
        justify-content: space-between;
    }


    .flex-container-Présentation-Offre > .DescriptionCompletOffre {
        width: 80%;
        font-family: Arial;
        font-size: 1rem;
        margin-left: 2%;
    }

    .Retour {
        margin-top: 5rem;
        margin-left: 50%;
    }

    .TitreOffrePresentation {
        font-size: 2.5rem;
        margin: 2rem 0% 0 4%; /*top right bottom left */
    }
    
    .StatsOffre {
        color: black;
        padding-top: 1rem;
        width: 15rem;
        background-color: rgba(220, 220, 220, 0.277);
        text-align: center;
        margin-bottom: 6rem;
    }



}






@media (max-width: 800px) {
    h1{
        padding-left: 13rem;
    }
    header {
        display: flex;
        background-image: url("images/enteteRES.png");
        background-size: auto 100%;
        background-position: left top;
        background-size: cover;
    }
    header >img{
        min-width: 100px;
        max-height: 60px; 
        margin-top: 2rem;
    }


    /* Partie offre de stage responsive */

     .flex-container1 {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
     }
    
    .flex-container1 > .rechercher {
        width: 100%;
        border-radius: 5rem;
        margin-right: 2%;
    }
    
    .newOffre{
        border-radius: 5rem;
        margin-right: 2%;
    }
    
    #filtres {
        margin-right: 5%;
        align-self: flex-start;
        margin-bottom: 3rem;
        margin-top: 0;
    }
    
    .flex-container2 {
        display: block;  
        box-sizing: 100%;
        margin-bottom: 10rem;
     }  
    
    #colonne2 {
        width: 96%;
    
    }
    
    #colonne1 {
        background-color:rgba(244, 240, 240, 0.462);
        padding: 1rem 5% 1rem 5%;
        margin: 0 2% 2rem 2%;
    }/*top right bottom left */

    .hideLieu, .hideSalaire, .hideEntreprise, .hidePlaces, .hideDuree {
        text-align: center;
    }
    /*-------------------------------*/

    .rechercheBouton {
        padding: 0.4rem 0.4rem 0.4rem 0.4rem;
    }
    .resultatEntreprises {
        margin: 10rem 0 0 2%;
        font-size: 1rem;
        text-decoration: underline;
    }
    .flex-top-Enterprises-1 > div > article > h5, .flex-top-Enterprises-2 > div > article > h5 {
        font-size: 1.2rem;
    }

    .flex-top-Enterprises-1, .flex-top-Enterprises-2 {
        flex-direction: column; /* Mettre en colonne pour les petits écrans */
        align-items: center; /* Aligner les éléments au centre */
        width: 80%;
    }

    .flex-top-Enterprises-1 > div, .flex-top-Enterprises-2 > div {
        width: 80%;
        margin-bottom: 2rem;
    }

    .pagination a {
        font-size: 1rem;
        padding: 0.2rem 0.6rem;
    }

    .topEntreprises{
        font-size: 1.9rem;
        width: 300px;
        height: 35px;
    }

    .resultatsEntreprises > h2 {
        font-size: 1.9rem;
    }

    .filtresEntreprises > h2 {
        font-size: 1.3rem;
    }
    #masquer {
        text-align: right;
        margin-right: 5%;
        font-size: 1rem;
        margin-bottom: 2rem;
        color: black;
    }
    #masquerInput {
        margin-top: 0rem;
        margin-left: 1%;
        width: 1rem;
        height: 1rem;
    }
}



@media (max-width: 600px) {
    h1{
        padding-left: 5rem;
    }

    .GE{
        font-size: 1.5rem;
    }

    header {
        display: flex;
        background-image: url("images/enteteRESv2.png");
        background-size: auto 100%;
        background-position: left top;
        background-size: cover;
    }

    header >img{
        min-width: 100px;
        max-height: 60px; 
        margin-top: 3rem;
    }

    .pagination a {
        font-size: 0.8rem;
        padding: 0.2rem 0.4rem;
    }

    .TitreOffre {
    font-size: 1rem;
    margin-top: 0.5rem;
    }

    .DescriptionOffre {
        font-size: 0.6rem;
        margin-bottom: 0.5rem;
    }

    .CompetencesOffre {
        font-size: 0.5rem;
    }

    h3 {    
        font-size: 1rem;
    }  

    .hidePromo, .hideLieu, .hideSalaire, .hideEntreprise, .hidePlaces, .hideDuree, .trier {
        text-align: center;
        font-size: 0.9rem;
    }

    .star {
        max-width: 45px;
        max-height: 45px;
        margin-top: 2rem;
        margin-left: 1rem;
    }

    .nota_txt{
        margin-left: 0rem;
    }

    .notation{
        height: 25rem;
        width: 20rem;
        margin: auto;
        margin-top: 3rem;
    }

    .info_txt{
        font-size: 1.8rem; 
      }
      .header, .logo, .line {
        height: auto; /* Ajustement de la hauteur pour les petites écrans */
    }
    .logo {
        height: 3rem; /* Réduction de la taille du logo */
    }
    .line {
        width: 100%; /* Ajustement de la largeur de la ligne */
        transform: skew(0deg); /* Suppression de l'inclinaison pour les petits écrans */
    }
    .menu {
        font-size: 2rem; /* Diminution de la taille de police pour les menus */
    }
    .user-profile {
        padding: 0 2rem; /* Réduction du padding */
        font-size: 0.875rem; /* Diminution de la taille de police */
    }
    .container, .informations {
        flex-direction: column; /* Empilage vertical */
        width: 90%; /* Ajustement de la largeur */
        margin: 10px auto; /* Centrage avec une marge */
    }
    .profil, .informations {
        flex-basis: 100%; 
    }
    .profil img {
        width: 10rem; 
        height: 10rem;
    }
    
    .centre-button {
        flex: 1 0 100%; 
    }
    .job-offer-details, .details-table th, .details-table td {
        font-size: 12px; 
    }



    .rechercheBouton {
        padding: 0.4rem 0.4rem 0.2rem 0.4rem;
        font-size: 0.8rem;
    }


    #flex-Entreprise-resultat {
        margin: 10rem 0 0 2%;
        display: block;
        box-sizing: 100%;
        margin-bottom: 4rem;
    }

    .topEntreprises{
        font-size: 1.3rem;
        width: 205px;
        height: 25px;
    }

    .optionsEntreprise{
        width: 80%;
    }
}




@media (min-width: 1272px) {
    .navbar {
        text-align: left;
        font-weight: bolder;
        font-size: 3rem;
        width: 100%;
        display:flex;
        justify-content:flex-end;
    }
}

.Deconnexion {
    display: flex;
    font-size: 1.1rem; 
    justify-content: center;
    visibility: hidden;
    font-weight:initial;
    padding: 0rem;
}

.DivDeconnexion:hover .Deconnexion {
    visibility: visible;
}

.Deconnexion:hover {
    font-weight: bolder;
}



/* ----------------------------------- API ------------------------------------------- */
.CP_API {
    display: flex;
    justify-content: center;    
}

.CP_API > select {
    display:none;
    align-self: center;
    width: 15rem; /* Largeur de la select à 100% */
    height: auto; /* Hauteur automatique */
    border: none; /* Supprimer les contours */
    outline: none; /* Supprimer l'effet de focus */
    padding: 0.5rem; /* Ajouter un peu de marge intérieure */
    font-size: 1rem; /* Taille de police */
    height: 4rem; /* Taille fixe de l'élément select */
    overflow-y: auto; /* Afficher une barre de défilement verticale si nécessaire*/
    margin-bottom: 1rem;
}
.selectVilles option {
    text-align: center;
    padding: 5px; /* Espacement autour de chaque option */
}



/*----------------------- Mentions légales -----------------------------------*/

.intitule_ML{
    border-style: solid;
    border-width: medium;
    border-radius: 10px;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;

    padding: 10px;
    flex-shrink: 3;
    width: 90%;

    /* Center content stage */
    display: flex;
    flex-direction: column;
    align-items:flex-start;
 
}

.intitule_ML p {
    margin: 2px 0px 2px 0px;
}

.intitule_ML li {
    margin: 10px 0px 3px 0px;
}